body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Sources/fondologin.png');
    background-size: cover;
    background-position: center;}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    background: #000;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6), 
    0 0 40px rgba(255, 255, 255, 0.4);
    width: 90%;
    max-width: 400px;
    text-align: center;
}
.login-box h1 {
    color: #ffffff;
    margin-bottom: 20px;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: transparent;
    color: rgba(181, 181, 181, 0.29);
    font-size: 16px;
    outline: none;
}

.login-box input[type="checkbox"] {
    width: auto;
    margin-top: 20px;
}
.login-box label {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.login-box label input {
    margin-right: 5px;
  }

.botones {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .no_cue {
    color: #FFF;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lexend Zetta", serif;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .ini_ses {
    color: #000000;
    border: 2px solid rgb(255, 255, 255);
    background: white;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lexend Zetta", serif;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #000000;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
.ani_no_cue:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: #000000;
}

.ani_ini_ses:hover {
    box-shadow: inset 400px 0 0 0 #000000;
    color: #ffffff;
  }
.top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    z-index: 1
}
.top-bar .logo, .top-bar  {
    display: flex;
    align-items: center;
}

.top-bar .logo img, .top-bar .right-icons img {
    width: 300px;
    margin-right: 10px;
}
.logo img {
    padding-top: 30px;
    padding-left: 20px;
}
.top-bar .right-icons a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
.top-bar .right-icons a:hover {
    text-decoration: underline;
}
