/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Fondo negro */
    color: white;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../Sources/fondologin.png") no-repeat center center/cover;
    position: relative;
}

.top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    z-index: 1
}
.top-bar .logo, .top-bar  {
    display: flex;
    align-items: center;
    z-index: 3;
}

.top-bar .logo img, .top-bar  {
    width: 300px;
    margin-right: 10px;
}
.logo img {
    padding-top: 30px;
    padding-left: 20px;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* Register Box */
.register-box {
    background-color: #000000;
    border: 2px solid white;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    text-align: center;
    position: relative;
    margin-top: 100px;
    padding-top: 30px;

    /* Efecto de brillo  */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                0 0 20px rgba(255, 255, 255, 0.6), 
                0 0 40px rgba(255, 255, 255, 0.4);
}

.register-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.register-box input {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: transparent;
    color: rgba(181, 181, 181, 0.29);
    font-size: 16px;
    outline: none;
}

.register-box input::placeholder {
    color: rgb(176, 176, 176);
}

/* Buttons */
.botones {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .boton {
    background: none;
    color: #FFF;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lexend Zetta", serif;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
.animacion:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: #000000;
}


.error-message {
    display: none;
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}