/* Estilos generales */
body {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 40px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.navbar .welcome {
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lexend Zetta', sans-serif;
}

.navbar .menu {
    display: flex;
    gap: 25px;
}

.navbar .menu a {
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-family: "Lexend Zetta", serif;
}

.navbar .menu a:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 4px 8px rgba(209, 209, 209, 0.2);
}

.submenu {
    position: relative;
    margin: 10px;
}

.navbar .submenu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 5px;
    padding: 10px;
}

.navbar .submenu-content a {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}

.submenu:hover .submenu-content {
    display: block;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #161616;
}

.footer-column {
    max-width: 300px;
}

h3 {
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    text-shadow: 0 0 5px white, 0 0 10px black, 0 0 15px gray;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #000;
}

/* Estilos para botones verticales */
.botones-verticales {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 70vh;
}


.boton-container-agenda, .boton-container-entrenamiento, .boton-container-composicion-corporal, .boton-container-dieta {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .boton-container-agenda .boton, .boton-container-entrenamiento .boton, .boton-container-composicion-corporal .boton, .boton-container-dieta .boton {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Botones con imágenes de fondo */
.boton-container-agenda .boton {
    background-image: url('../Sources/EspacioUsuario/agenda_dark.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.boton-container-agenda .boton:hover {
    background-image: url('../Sources/EspacioUsuario/agenda_light.jpg');
    background-size: cover;
    background-position: center;
}

.boton-container-entrenamiento .boton {
    background-image: url('../Sources/EspacioUsuario/entrenamiento_dark.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.boton-container-entrenamiento .boton:hover {
    background-image: url('../Sources/EspacioUsuario/entrenamiento_light.jpg');
    background-size: cover;
    background-position: center;
}

.boton-container-composicion-corporal .boton {
    background-image: url('../Sources/EspacioUsuario/composicion_corporal_dark.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.boton-container-composicion-corporal .boton:hover {
    background-image: url('../Sources/EspacioUsuario/composicion_corporal_light.png');
    background-size: cover;
    background-position: center;
}

.boton-container-dieta .boton {
    background-image: url('../Sources/EspacioUsuario/dieta_dark.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.boton-container-dieta .boton:hover {
    background-image: url('../Sources/EspacioUsuario/dieta_light.jpg');
    background-size: cover;
    background-position: center;
}


/* Estilos para los botones */
.boton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

.boton:hover {
    background-color: rgb(209, 209, 209);
}

.boton {
    background: none;
    color: #FFF;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lexend Zetta", serif;
    font-size: 30px;
    letter-spacing: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    color: #000000;
}
